# API Specification

{% for route in routes %}
## {{route.method}} `{{route.path}}`

- **Handler**: `{{route.handler}}`
- **Params**: {{route.params}}
- **Response**: {{route.response}}

{{route.description}}

{% endfor %}
