# Component Registry

{% for component in components %}
## {{component.name}}

- **Path**: `{{component.path}}`
- **Props**: {{component.props}}
- **Dependencies**: {{component.deps}}

{{component.description}}

{% endfor %}
